.container{
    width: 80%;
    float: right;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 2% 3%;
}

.heading{
    font-size: 2.7rem;
    font-weight: 500;
    line-height: 1.618em;
    margin-bottom: .4rem;
}

.line{
    border: 2px solid #037aff;
}

.boxing{
    margin-top: 2.8rem;
    display: grid;
    grid-template-columns: 40% 57%;
    grid-row-gap: 2.4rem;
    grid-column-gap: 3%;
}

.sub{
    font-size: 1.8rem;
    font-weight: 500;
    margin-bottom: 1.4rem;
    line-height: 1.618em;
}

.tertiary{
    font-size: 1rem;
    font-weight: 500;
    color: #037aff;
    margin-top: 1rem;
    display: block;
}

.tertiary:hover{
    text-decoration: underline;
}

.para{
    font-weight: 400;
    font-size: 1.2rem;
    color: #323232;
    margin-bottom: 1.5rem;
    line-height: 1.618em;
}

.box{
    padding: 5% 4%;
    border: solid 1px #323232;
    background-color: #f6f6f6;
}

.text:focus{
    border: solid 1px #037aff;
}

.label{
    display: block;
    font-size: 1rem;
    font-weight: 500;
}

.text{
    width: 100%;
    margin: 1rem 0 1.1rem;
    padding: 2% 3%;
    border-radius: 4px;
    outline: none;
    font-size: 1.2rem;
    font-weight: 400;
    border: 1px solid #323232;
}

.button{
    display: block;
    cursor: pointer;
    margin: 2.5rem 0;
    border: 0;
    border-radius: 5px;
    outline: none;
    font-size: 1.2rem;
    padding: .9rem 2.2rem;
    color: #ffffff;
    background-color: #262E4A;
    transition: all .4s ease-out;
    border: 2px solid #ffffff;
    position: relative;
    left: 100%;
    transform: translateX(-100%);
}

.button:hover{
    background-color: #ffffff;
    color: #262E4A;
    border: 2px solid #262E4A;
}

.delete{
    cursor: pointer;
    border: 1px solid red;
    color: red;
    transition: all .2s ease-in;
}

.delete:hover{
    background-color: red;
    color: #f6f6f6;
}

.icon{
    position: relative;
    display: inline-block;
    margin: 1.2rem 0;
}

.texty{
    position: relative;
    width: 90%;
    float: right;
    /*
    left: 100%;
    transform: translateX(-100%);
    */
}

.texto_2{
    position: relative;
    width: 70%;
    float: right;
}

.texto_1{
    width: 28%;
}




/*Phone-Portrait*/

@media only screen and (max-width: 599px) {
    .container{
        width: 100%;
        padding: 11% 10%;
    }
    
    .boxing{
        grid-template-columns: 100%;
    }

    .para{
        margin-bottom: 0;
    }
    
}
  
  
/*Tablet-Portrait*/
  
@media only screen and (min-width: 600px) and (max-width: 900px) and (min-height: 600px) {
    .container{
        width: 100%;
        padding: 7% 7%;
    }

    .boxing{
        grid-template-columns: 100%;
    }

    .para{
        margin-bottom: 0;
    }
}


/*Phone-Landscape*/

@media only screen and (min-width: 500px) and (max-width: 900px) and (max-height: 600px) {
    .container{
        width: 100%;
        padding: 6% 5%;
    }

    .boxing{
        grid-template-columns: 100%;
    }

    .para{
        margin-bottom: 0;
    }
}
  
    
/* Tablet-Landscape*/
  
@media only screen and (min-width: 900px) and (max-width: 1200px) and (max-height: 900px) {
    .container{
        padding: 4% 4%;
    }
}